<% provide(:title, "help_Page") %>
<html>
  <!--<head>
    <title>help_Page</title>
  </head>-->
  <body>
    <h1>StaticPages/help</h1>
    <p>helpのページです</p>
     <a href="/static_pages/about">about</a>
  </body>
</html>
